.navbar {
    background: $color-darkgray;
    color: $color-white;
    height: $navbar-height;
    @include center;
    ul {
        @include mp-zero;
    }
    li {
        display: inline-block;
        cursor: pointer;
        padding: $padding;
        border-radius: $border-radius*0.5;
        transition: 0.3s all;
        @include mx(12px);
        &:hover {
            background-color: $color-white;
            color: $color-darkgray;
        }
    }
}

.card {
    background: $color-white;
    padding: $padding;
    margin-top: 2em;
    border-radius: $border-radius;
    @include shadow;
    h1 {
        font-size: $baseFontSize*1.5;
        border-bottom: 2px solid $color-secondary;
        @include my(0.7em);
    }
}
