<section class="card">
    <h1>Contenido</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium saepe dolores fugiat, voluptatibus neque veritatis rerum consequuntur, tempore blanditiis esse, itaque alias corporis dolorum aut cumque reprehenderit. Quo, perferendis eveniet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quasi quas sunt consequatur, neque quae fugit officiis cupiditate autem hic praesentium, obcaecati debitis. Veniam deserunt explicabo libero fugiat, itaque officia!</p>
</section>
